
.box div{
    position: absolute;
    width: 60px;
    height: 70px;
    background-color: transparent;
}

.box div:nth-child(1){
    top: 15%;
    left: 39%;
    animation: animate 6.5s linear infinite;
}

.box div:nth-child(2){
    top: 34%;
    left: 80%;
    animation: animate 5.3s linear infinite;
}

.box div:nth-child(3){
    top: 30%;
    left: 40%;
    animation: animate 7.3s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(5){
    top: 20%;
    left: 78%;
    animation: animate 8.5s linear infinite;
}

.box div:nth-child(6){
    top: 10%;
    left: 70%;
    animation: animate 5.2s linear infinite;
}

.box div:nth-child(7){
    top: 18%;
    left: 60%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(8){
    top: 23%;
    left: 65%;
    animation: animate 4.5s linear infinite;
}

.box div:nth-child(9){
    top: 25%;
    left: 58%;
    animation: animate 6.1s linear infinite;
}

.box div:nth-child(10){
    top: 30%;
    left: 50%;
    animation: animate 4.9s linear infinite;
}


.box div:nth-child(11){
    top: 24%;
    left: 58%;
    animation: animate 4.8s linear infinite;
}

.box div:nth-child(12){
    top: 20%;
    left: 60%;
    animation: animate 5.2s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.2) translateY(-90px);
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
.box{
    display: none;
}    
}

