ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}